.Navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.714);
    display: flex;
    /* padding: 0rem 8rem; */
    box-shadow: 0px 0px 10px 0px rgba(183, 183, 183, 0.2);
}

.Logo {
    width: 160px;
    display: flex;
}

.link {
    text-decoration: none;
    /* color: #5E5E5E; */
}

.navbarLinks {
    font-weight: 800;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbarLinks li {
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 1rem 1rem;
}

.link:hover {
    color: pink
}

.navbarLinks li:hover {
    color: red;
    border-radius: 1rem;
}

@media (max-width: 900px) {
    .Navbar {
        padding: 1rem 1rem;
        height: auto;
        flex-direction: column;
        /* align-items: center; */
        justify-content: flex-start;
    }

    .navbarLinks {
        margin-top: 1rem;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0px;
        /* margin: 0px; */
    }

    .navbarLinks ul {
        padding: 0px;
        /* margin: 0px; */
    }
}
